[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/bilus
[access "refs/for/refs/*"]
	read = group user/bilus
	push = group user/bilus
	label-Code-Review = -2..+2 group user/bilus
	label-Verified = -1..+1 group user/bilus
	rebase = group user/bilus
	removeReviewer = group user/bilus
	submit = group user/bilus
[access "refs/heads/*"]
	read = group user/bilus
	create = group user/bilus
	push = group user/bilus
	pushMerge = group user/bilus
[access "refs/tags/*"]
	push = group user/bilus
	pushTag = group user/bilus
	pushSignedTag = group user/bilus
